---
import CocktailCarousel from '../components/CocktailCarousel.jsx';
import { cocktails } from '../data/cocktails.js';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header class="text-center py-4 z-10">
		<h1 class="text-4xl font-extrabold neon drop-shadow-md">
			Forever Classics 🍸
		</h1>
	</header>
	<CocktailCarousel client:only="preact" cocktails={cocktails} />
	<footer class="text-center text-gray-500 text-sm py-6">
		&copy; 2025 &middot; Creado por <a
			href="https://rhodlib.com"
			class="underline hover:text-white"
			target="_blank">rhodlib</a>
	</footer>
</Layout>
